
@mixin styleText($color, $fs, $fw){
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}
@mixin styleButton($bg-color, $bd-color, $pd-y,$pd-x){
    background-color: $bg-color;
    border-color: $bd-color;
    padding: $pd-y $pd-x;
}

@mixin responsive($screen){
    @if(map-has-key($map: $breakpoints, $key: $screen)){
        $value: map-get($map: $breakpoints, $key: $screen);
        @media screen and (max-width:$value){
            @content;
        }
    } @else{
        @warn "Error screen";
    }
}

//Thêm mới(thắng)
@mixin styleButtonHover($color,$bg-color, $bd-color){
    color:$color;
    background-color: $bg-color;
    border-color: $bd-color;
}