* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    @include styleText($color-gray-0, $fs-1 - 2px, $fw-normal);
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none !important;
}
ul,ol{
    list-style: none;
}

