.deal__container {
    position: relative;
    .deal__content {
        position: absolute;
        top: 15px;
        bottom: 20px;
        left: 0;
        z-index: 5;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .content-wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        .content__title {
            position:absolute;
            width: 100%;
            top:15px;
            h2{
                @include styleText($color-white-0, $fs-4, $fw-normal);
            }
        }    
        .content__detail {
            top: 90%;
            width: 100%;
            position: absolute;
            letter-spacing: 1px;
            span{
                @include styleText($color-white-1, $fs-2, $fw-normal);
            }
            i{
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }
}

@include responsive("medium") {
    .deal__content{
        .content__title {
            h2{
                font-size: 30px !important;

            }
        }
    }
    
}